@import "./base";
@import "./bootstrap/scss/bootstrap.scss";

.logo a {
    text-decoration: none;
    color: inherit;
}

.accordion {
    margin-top: map-get($spacers, "3");
}

.accordion__item {
    border-top: 1px solid $gray-200;
    padding: map-get($spacers, "4") 0;
}

.accordion__item--collapsed {
    padding: map-get($spacers, "3") 0;
    .accordion__body {
        display: none;
    }
}

.accordion__title {
    border: 0;
    outline: 0;
}

.accordion__title,
.accordion__body {
    & > *:last-child {
        margin-bottom: 0;
    }
}

.accordion__body {
    margin-top: map-get($spacers, "3");
    display: block;
}
