////
//// Grid breakpoints
////

$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

////
//// Grid containers
////

$container-max-widths: (
    sm: 600px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

////
//// Grid columns
////

$grid-columns: 12;
$grid-gutter-width: 32px;
