@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";

$spacer: 1rem;
$spacers: (
    6: (
        $spacer * 6,
    ),
);

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
  sm: 600px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12;
$grid-gutter-width:           32px;

$link-color: $gray-600;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$font-family-special: "ff-tisa-web-pro", sans-serif;
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-special;
$headings-line-height: 1.4;

@import "./bootstrap/scss/bootstrap.scss";

.logo a {
    text-decoration: none;
    color: inherit;
}

.accordion__item {
    border-bottom: 1px solid $gray-300;
}

.accordion__title {
    border: 0;
    outline: 0;
    padding: map-get($spacers, 4) 0;
}

.accordion__title,
.accordion__body {
    & > *:last-child {
        margin-bottom: 0;
    }
}

.accordion__body {
    display: block;
    padding-bottom: map-get($spacers, 4);
}

.accordion__body--hidden {
    display: none;
}
